<!DOCTYPE html>
<html lang="en">
  <%- include('include/_header') %>
  <body>
    <%- include('include/_bodyHeader') %>
    <main>
      <div class="fullWidth">
        <%- include('include/_botContact') %>

        <!-- create or edit new course form -->
        <%- include('include/_newUser.ejs') %>
      </div>
    </main>
    <%- include('include/_footer') %>
  </body>
</html>
