<!DOCTYPE html>
<html lang="en">
  <%- include('include/_header') %>
  <body>
    <%- include('include/_bodyHeader') %>
    <div class="btnBack">
      <a
        href="/admin/site_admin"
        class="w3-button w3-white w3-border w3-border-blue w3-round-large padding-0_2-0_5"
        >&lt;Back</a
      >
    </div>
    <main>
      <div class="fullWidth">
        <%- include('include/_botContact') %>

        <!-- create or edit new course form -->
        <%- include('include/_newUser.ejs') %>
      </div>
    </main>
    <%- include('include/_footer') %>
  </body>
</html>
