<!DOCTYPE html>
<html lang="en">
  <%- include('include/_header') %>
  <body>
    <%- include('include/_bodyHeader') %>
    <main>
      <div class="fullWidth">
        <%- include('include/_botContact') %> <%- include('include/_welcome') %>
        <section class="panel-block">
          <div>
            <article class="block-element">
              <h3>About E-System Portal</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                doloremque nostrum ullam magni ab neque ex dolore soluta quaerat
                commodi inventore voluptatem, provident, tenetur sed pariatur
                est incidunt? Et temporibus ullam deleniti consectetur beatae
                fuga expedita numquam magnam perspiciatis voluptatum facilis
                eligendi voluptatem quos deserunt ea laudantium, ratione alias
                consequuntur!
              </p>
              <a href="" class="w3-button w3-green"
                >Go to courses
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i
              ></a>
            </article>
            <article class="block-element">
              <h3>What's new on our portal?</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                vitae incidunt quis dolorem veritatis sit numquam beatae ipsum
                aperiam? Vero nam perspiciatis iure dignissimos, rem nemo
                doloremque explicabo corporis autem amet odio illo unde dolorem
                itaque excepturi repellendus inventore eveniet velit. Ad
                asperiores sunt dignissimos?
              </p>
              <a href="" class="w3-button w3-green"
                >Detail <i class="fa-solid fa-circle-info"></i
              ></a>
            </article>
          </div>
        </section>
      </div>
    </main>
    <script type="text/javascript" src="/javascript/action.js"></script>
    <%- include('include/_footer') %>
  </body>
</html>
